[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ASSA"]
	path = ASSA
	url = https://github.com/cran/ASSA
[submodule "DATAstudio"]
	path = DATAstudio
	url = https://github.com/cran/DATAstudio
[submodule "extremis"]
	path = extremis
	url = https://github.com/mmbbcarvalho/extremis
[submodule "spearmanCI"]
	path = spearmanCI
	url = https://github.com/cran/spearmanCI
