[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "extremis"]
	path = extremis
	url = https://github.com/mmbbcarvalho/extremis
	shallow = true
	registered = true
